<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backColor</key>
	<integer>16777215</integer>
	<key>sampleImage</key>
	<string>sampImage.jpg</string>
	<key>finalSize</key>
	<string>720,1280</string>
	<key>backImage</key>
	<string></string>
	<key>foreImage</key>
	<string>foreImage.png</string>
	<key>decorateImageArray</key>
	<array>
		<dict>
			<key>position</key>
			<string>0.0,0.8,0.266,0.2</string>
			<key>imageName</key>
			<string>m2.jpg</string>
		</dict>
	</array>
	<key>imageArray</key>
	<array>
		<string>95,410,270,270</string>
		<string>355,740,270,270</string>
	</array>
	<key>textArray</key>
	<array>
		<dict>
			<key>fontAttr</key>
			<dict/>
			<key>maxLength</key>
			<integer>8</integer>
			<key>textColor</key>
			<integer>4530335</integer>
			<key>fontSize</key>
			<integer>35</integer>
			<key>fontName</key>
			<string>AmericanTypewriter-Bold</string>
			<key>content</key>
			<string>摄影师</string>
			<key>position</key>
			<string>370,514,350,200</string>
		</dict>
		<dict>
			<key>fontAttr</key>
			<dict/>
			<key>maxLength</key>
			<integer>8</integer>
			<key>textColor</key>
			<integer>4530335</integer>
			<key>fontSize</key>
			<integer>24</integer>
			<key>fontName</key>
			<string>AmericanTypewriter-Bold</string>
			<key>content</key>
			<string>@毛球</string>
			<key>position</key>
			<string>370,574,350,50</string>
		</dict>
		<dict>
			<key>fontAttr</key>
			<dict/>
			<key>maxLength</key>
			<integer>8</integer>
			<key>textColor</key>
			<integer>4530335</integer>
			<key>fontSize</key>
			<integer>35</integer>
			<key>fontName</key>
			<string>AmericanTypewriter-Bold</string>
			<key>content</key>
			<string>麻豆</string>
			<key>position</key>
			<string>0,860,350,60</string>
		</dict>
		<dict>
			<key>fontAttr</key>
			<dict/>
			<key>maxLength</key>
			<integer>8</integer>
			<key>textColor</key>
			<integer>4530335</integer>
			<key>fontSize</key>
			<integer>24</integer>
			<key>fontName</key>
			<string>AmericanTypewriter-Bold</string>
			<key>content</key>
			<string>@小鱼爱生活</string>
			<key>position</key>
			<string>0,920,350,50</string>
		</dict>
	</array>
</dict>
</plist>
