<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filterFileName</key>
		<string>blend01_curve.acv</string>
		<key>filterId</key>
		<string>0001</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>02.acv</string>
		<key>filterId</key>
		<string>0002</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>whitecat_curve.acv</string>
		<key>filterId</key>
		<string>0003</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>xpro2_curve.acv</string>
		<key>filterId</key>
		<string>0004</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>vscoc1_2_curve.acv</string>
		<key>filterId</key>
		<string>0005</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>vscoc1_1_curve.acv</string>
		<key>filterId</key>
		<string>0006</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>vivid_curve.acv</string>
		<key>filterId</key>
		<string>0007</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>violet_curve.acv</string>
		<key>filterId</key>
		<string>0008</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>sweetcandy_curve.acv</string>
		<key>filterId</key>
		<string>0009</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>strong_contrast.acv</string>
		<key>filterId</key>
		<string>0010</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>sakura_curve.acv</string>
		<key>filterId</key>
		<string>0011</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>linear_contrast.acv</string>
		<key>filterId</key>
		<string>0012</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>blend03_curve.acv</string>
		<key>filterId</key>
		<string>0013</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>cerulean_curve.acv</string>
		<key>filterId</key>
		<string>0014</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>myfair_curve.acv</string>
		<key>filterId</key>
		<string>0015</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>crossprocess.acv</string>
		<key>filterId</key>
		<string>0016</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>new_bnw.acv</string>
		<key>filterId</key>
		<string>0017</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>cold_curve.acv</string>
		<key>filterId</key>
		<string>0018</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>curve_1988.acv</string>
		<key>filterId</key>
		<string>0019</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>purple-green.acv</string>
		<key>filterId</key>
		<string>0020</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>lighter.acv</string>
		<key>filterId</key>
		<string>0021</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>blackcat_curve.acv</string>
		<key>filterId</key>
		<string>0022</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>cool_curve.acv</string>
		<key>filterId</key>
		<string>0023</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>rise_curve.acv</string>
		<key>filterId</key>
		<string>0024</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>rosy.acv</string>
		<key>filterId</key>
		<string>0025</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>amaro_curve.acv</string>
		<key>filterId</key>
		<string>0026</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>banana_curve.acv</string>
		<key>filterId</key>
		<string>0027</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>live08.acv</string>
		<key>filterId</key>
		<string>0028</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>cooltone_curve.acv</string>
		<key>filterId</key>
		<string>0029</string>
		<key>filterName</key>
		<string>acv</string>
	</dict>
</array>
</plist>
