<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backColor</key>
	<integer>16777215</integer>
	<key>sampleImage</key>
	<string></string>
	<key>finalSize</key>
	<string>960,1280</string>
	<key>backImage</key>
	<string></string>
	<key>foreImage</key>
	<string></string>
	<key>decorateImageArray</key>
	<array/>
	<key>imageArray</key>
	<array>
		<string>15,30,300,700</string>
		<string>330,30,300,900</string>
		<string>645,30,300,1100</string>
	</array>
	<key>textArray</key>
	<array/>
</dict>
</plist>
