<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filterFileName</key>
		<string>lookup.png</string>
		<key>filterId</key>
		<string>0007</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>lookup.png</string>
		<key>filterId</key>
		<string>0006</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>lookup.png</string>
		<key>filterId</key>
		<string>0001</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>lookup.png</string>
		<key>filterId</key>
		<string>0002</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>vivid_curve.acv</string>
		<key>filterId</key>
		<string>0003</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>lookup.png</string>
		<key>filterId</key>
		<string>0004</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>lookup.png</string>
		<key>filterId</key>
		<string>0005</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>violet_curve.acv</string>
		<key>filterId</key>
		<string>0008</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>violet_curve.acv</string>
		<key>filterId</key>
		<string>0009</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
	<dict>
		<key>filterFileName</key>
		<string>cerulean_curve.acv</string>
		<key>filterId</key>
		<string>0010</string>
		<key>filterName</key>
		<string>B&amp;W</string>
	</dict>
</array>
</plist>
